/ServletWebApplication/TourismWebApplication/build/
/SpringWebApplication/nbproject/private/
/SpringWebApplication/build/
/SpringWebApplication/dist/
/HelloSpring/nbproject/private/
/HelloSpring/build/
/HelloSpring/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/ServletWebApplication/TourismWebApplication/dist/
/HelloSpring2/nbproject/private/
/HelloSpring2/build/
/WebApplication2/nbproject/private/
/WebApplication3/nbproject/private/
/WebApplication2/build/
/WebApplication3/build/
/WebApplication2/dist/
/WebApplicationSpring/nbproject/private/
/WebApplicationSpring/build/
/ResultStudentManagement/nbproject/private/
/ResultStudentManagement/build/
/ResultStudentManagement/target/
/ResultStudentManagement/dist/
/JPATEST/nbproject/private/
/JPATEST/build/
/JPATEST/dist/
/jsp-servlet-java-ee-7/target/
/registration-login-spring-boot-security-thymeleaf-hibernate-master/target/
